body, html {
    height: 100%;
    margin: 0;
    font-family: Arial;
}
.tablink {
    float: left;
    border: solid;
    border-width: 5px;
    cursor: pointer;
    width: 33%;
    background-color: #666666;
    color: white;
    outline: none;
    padding: 14px 10px;
    font-size: 17px;
}
.tablink:hover{
    background-color: #777;
}
.tabcontent {
    color:white;
    display: none;
    padding: 100px 20px;
}
h1 {
    text-align: center;
    color: #009FDF;
}
.displaysolenoid > h1{
    float: right;
    color: black;
}
.displayvalve {
    float: left;
}
select {
    word-wrap: break-word;
    white-space: normal;
    vertical-align: middle;
    min-height: 40px;
    width: 300px;
    font-family: Arial;
    color: #009FDF;
    display: block;
    margin: auto;
    margin-top: 2px;
}
table {
    margin: auto;
    padding-bottom: 5px;
}
td {
    font-size: 12px;
    color: black;
}
.clear {
    padding-bottom: 80px;
}
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;
    text-align: center;
    border-style: solid;
    border-width: 2px 0 0 0;
    border-color: #666666;
    background: white;
}
.title {
    padding-top: 5px;
    margin: auto;
    vertical-align: middle;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
embed {
    display: block;
    margin: auto;
}
p {
    color: black;
}
.maindesc {
    color: #009FDF;
    font-family: Arial;
    font-size: 22px;
    text-align: center;
}
.selectorpics {
    width: 300px;
    height: auto;
}
.banner {
    width: 100%;
    height: auto;
} 
.logo {
    padding-bottom: 5px;
}
.motto {
    color: #666666;
}

